body{
	padding:0;
	margin:0;

	
}

#projects{

	height:500px !important;
	width:100% ;	
	.item img{
		height:500px;
		margin-left:auto;
		margin-right:auto;
	}
}

#orb{
	width:200px;
	height:180px;
	
	background-image:url(/img/AHorb.jpg);
	margin-left:auto;
	margin-right:auto;
}