
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{title}}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="js/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/h5bp.css">
	<link rel="stylesheet" href="css/main.css">
	

</head>
<body>
  
<!--<div id="orb">
	
</div>

-->
<div class="header row text-center">
    Adam Haley :: Digital Portfolio
</div>
<br />
<div id="projects" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">

        {{#data.projects}}
            <li data-target="#projects" data-slide-to="{{@index}}" class=""></li>
        {{/data.projects}}
      
    </ol>
    <div class="carousel-inner">
        {{#data.projects}}
            <div class="item">
                <img src="img/screenshots/{{screenshots.0}}" alt="">
                <div class="container">
                    <div class="carousel-caption">{{name}}</div>
                    <!-- <p>{{blurb}}</p> -->
                    <!-- <p><a href="{{url}}" target="_new" class="button">View Site</a></p> -->
                </div>
            </div>
        {{/data.projects}}
    </div>
    <a class="left carousel-control" href="#projects" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#projects" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br /><br />
    <script src="js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>